.buttom{
   position: relative;
   max-width: 100vw;
   margin: 10px 0px  5px 0;
   padding: 1rem ;
   font-family: 'Poppins', sans-serif;
   overflow: hidden;
   background-color: #F8F8FA;

   display: flex;
   justify-content: flex-end;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
   min-width: 300px;

}
.flex_items_buttom{
  position: relative;
  width: 270px;
  padding: 5px;
  gap:10px;
}
/******************Botton************************/
.link_buttom{
  position: relative;
  text-decoration: none;
  all: unset;
}
.button_buttom{
   position: relative;
   width: 200px;
   padding: 14px 0px;
   cursor: pointer;
   border: 1px solid #202E52;
}
.button_buttom1{
  background-color: #005596;
}
.button_buttom1:hover{
  background-color: #245580;
}
.button_buttom2{
  background-color: #D21241;
}
.button_buttom2:hover{
  background-color: #b92c28;
}
 .button_buttom h3{
   text-align: center;
   font-size: 1.3em;
   font-weight: 500;
   color: #F2F2F2;
 }
