.Container_bottom {
  position: fixed;
  bottom: 10px ;
  right: 100px;
  width: 100px;
  height: 10px;
  padding: 10px 0;
  margin: 20px 0 80px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
   gap:20px;
   z-index: 888;
}
.link_quote {
  margin: 0 10px;
  text-decoration: none;
}
.button_quote {
  width: 200px;
  max-height: 80px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #202E52;
  margin: auto;
}
.button_quote1 {
  background-color: #005596;
}
.button_quote1:hover {
  background-color: #245580;
}
.button_quote2 {
  background-color: #D21241;
}
.button_quote2:hover {
  background-color: #b92c28;
}
.button_quote h3 {
  text-align: center;
  font-size: 1.3em;
  font-weight: 500;
  color: white!important;
}
/* === RESPONSIVE: COLUMNA EN PANTALLAS PEQUEÑAS === */
@media (max-width: 800px) {
  .Container_bottom {
    flex-direction: column;
    gap: 20px;
  }
}
